<marquee direction="down" width="350" height="300" behavior="alternate" style="border:solid">
  <marquee>FANI</marquee>
  <marquee behavior="alternate">
    CHERRY
  </marquee>
      <marquee>MURRAD</marquee>
  <marquee direction="right">SEXY CREW YAAHHHH</marquee>
</marquee>
